@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.content {
    margin: 0 auto;
}

.box {
    background-color: #f9f9f9;
    margin: 0 auto;
    margin-bottom: 6.6%
}
.subTitulo {
    color: #292c34;
    text-align: center;
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 4.8%;
}

.info {
    color: #888; 
    font-size: 16px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1.6%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 3.5%;
}

.link {
    color: #40aceb;
}

.green {
    padding-bottom: 12%;
    padding-top: 0.1%;
}

.button-green {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #7bb84f;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 38%;
    margin-right: 35%;
    padding: 2.3% 5% 2.3% 5%;

}

.yellow {
    padding-bottom: 12%;
    padding-top: 0.1%;
}

.button-yellow {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #f5ba1c;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 38%;
    margin-right: 35%;
    padding: 2.3% 5% 2.3% 5%;
}
.blue {
    padding-bottom: 12%;
    padding-top: 4%;
}

.button-blue {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #3fabeb;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 38%;
    margin-right: 35%;
    padding: 2.3% 5% 2.3% 5%;
}

.white {
    padding-bottom: 12%;
    padding-top: 3%
}

.button-white {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: #292c34;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 40%;
    margin-right: 35%;
    padding: 2.3% 5% 2.3% 5%;
}

.pink {
    padding-bottom: 71px;
    padding-top: 36px;
}

.button-pink {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #e02d74;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 2.3% 5% 2.3% 5%;
}

.titulo3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    color: #292c34;
    text-align: center;
    padding-top: 60px;
}

.titulo4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    color: #fff;
    text-align: center;
    padding-top: 60px;
}

.contenedor {
    float: left;
}

.celeste {
    background-color: #a3d3f3;
}

.azul {
    background-color: #0071bd;
}

.celesteoscuro{
    background-color: #75b3dd;
}

.negro{
    background-color: #333c4d;
}

.informacion1 h4 {
    padding: 80% 11.2% 0% 34.6%;
}

.informacion1 p{
    padding:  0% 11.2% 11% 24%;
}

.informacion2 h4 {
    padding: 11% 34.6% 0% 11.2%
}

.informacion2 p{
    padding:  0% 24% 80% 11.2%;
}

.informacion3 h4 {
    padding: 80% 11.2% 0% 34.6%;
}

.informacion3 p{
    padding:  0% 11.2% 11% 24%;
}

.informacion4 h4 {
    padding: 11% 34.6% 0% 11.2%;
}

.informacion4 p{
    padding: 0% 24% 80% 11.2%;
}

.informacion1 {
    position: relative;
    width: 300px;
    font-size: 15px;
    text-align: right;
    float: left;
    color: #f9f9f9;
}

.informacion2 {
    position: relative;
    width: 300px;
    font-size: 15px;
    text-align: left;
    float: left;
    color: #f9f9f9;
}

.informacion3 {
    position: relative;
    width: 300px;
    font-size: 15px;
    text-align: right;
    float: left;
    color: #f9f9f9;
}

.informacion4 {
    position: relative;
    width: 300px;
    font-size: 15px;
    text-align: left;
    float: left;
    color: #f9f9f9;
}

#img1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width:  100%;
}

#img2 {
    position: absolute;
    top: 267px;
    left: 0px;
    width:  100%;
}

#img3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width:  100%;
}

#img4 {
    position: absolute;
    top: 265px;
    left: 0px;
    width:  100%;
}

.galleria {
    background-color:#292b33; 
}

.gallery {
    padding: 0px 51px 0px 51px;
    color: #fff;
}