.footer {
    color: #797c82;
    font-size: 0.8125rem;
}

.footer p {
    padding-top: 4%;
}

.footer .socialMedia {
    float: left;
    width: 75%;
}

.footer .redes {
    width: 25%;
    padding-top: 5%;
    float: left;
    position: relative;
}

.footer .redes a {
    position: absolute;
    left: 0px;
}

.footer a{
    color: #797c82;
}