@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.header {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.titulo {
    float: left;
}

.titulo {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    margin-bottom: 36px;
}

#menu {
    text-decoration: none;
    position: relative;
}

.list {
    list-style: none;
    position: absolute;
    top: 4px;
    right: 48px;
}

.list li {
    float: left;
    padding: 10px;
}

.list li + li {
    margin-left: 22px;
}

.list a {
    font-size: 13px;
    text-decoration: none;
    color: #606060;
    margin-bottom: 36px;
    position: absolute;
}